In [1]:
import pandas as pd

test_main = pd.read_csv('S:/Hackathons/TCS/test_main.csv')
test_main1 = pd.read_csv('S:/Hackathons/TCS/test_main1.csv')


preds = pd.read_csv('S:/Hackathons/TCS/preds1.csv')
preds['proj_id'] = test_main1['proj_id']
preds['cand_id'] = test_main1['cand_id']

In [2]:
preds

       REJECTED  SELECTED proj_id cand_id
0      0.569634  0.430366     p10      c1
1      0.421798  0.578202     p10      c3
2      0.535567  0.464433     p10      c7
3      0.429013  0.570987     p10     c15
4      0.443810  0.556190     p10     c16
...         ...       ...     ...     ...
19975  0.440536  0.559464     p99    c803
19976  0.440536  0.559464     p99    c808
19977  0.440536  0.559464     p99    c811
19978  0.594929  0.405071     p99    c813
19979  0.518258  0.481742     p99    c816

[19980 rows x 4 columns]

SELECTED Column consists of Probability of Selection

In [3]:
df_agg = preds.groupby(['proj_id','cand_id']).agg({'SELECTED':sum})
df_agg.shape

(19980, 1)

In [4]:
df_agg.head(5)

                 SELECTED
proj_id cand_id
p10     c1       0.430366
        c100     0.393147
        c101     0.473747
        c102     0.597570
        c105     0.475068

In [5]:
df_agg.tail(5)

                 SELECTED
proj_id cand_id
p99     c811     0.559464
        c813     0.405071
        c816     0.481742
        c84      0.559464
        c93      0.559464

In [6]:
grps = df_agg['SELECTED'].groupby('proj_id', group_keys=False)
grps.head()

proj_id  cand_id
p10      c1         0.430366
         c100       0.393147
         c101       0.473747
         c102       0.597570
         c105       0.475068
                      ...
p99      c1         0.559464
         c100       0.367049
         c101       0.584440
         c102       0.559464
         c105       0.591392
Name: SELECTED, Length: 675, dtype: float64

In [7]:
top5s = grps.apply(lambda x: x.sort_values(ascending=False).head(5))
top5s

proj_id  cand_id
p10      c57        0.597570
         c786       0.597570
         c102       0.597570
         c348       0.597570
         c299       0.594283
                      ...
p99      c650       0.628569
         c108       0.602672
         c264       0.602672
         c124       0.602672
         c655       0.597570
Name: SELECTED, Length: 675, dtype: float64

In [8]:
#top5s.to_csv('S:/Hackathons/TCS/preds.csv',index = False)
top5s1 =top5s.copy()

In [9]:
top5s1 = pd.DataFrame(top5s1)
top5s1.reset_index(inplace = True)
top5s1.drop(columns = ['SELECTED'],inplace = True)

In [10]:
submission = pd.DataFrame(top5s1.groupby(['proj_id'])['cand_id'].apply(lambda x: ','.join(x))).reset_index()

In [11]:
submission

    proj_id                   cand_id
0       p10   c57,c786,c102,c348,c299
1      p100  c108,c264,c655,c227,c254
2      p107  c348,c633,c106,c193,c291
3      p115    c784,c786,c446,c26,c65
4      p121  c549,c713,c109,c261,c546
..      ...                       ...
130     p90   c742,c550,c549,c808,c21
131     p92   c742,c550,c549,c808,c21
132     p93   c742,c550,c549,c808,c21
133     p94  c786,c314,c550,c546,c299
134     p99  c650,c108,c264,c124,c655

[135 rows x 2 columns]

In [12]:
submission.shape

(135, 2)

In [13]:
#final.to_csv('S:/Hackathons/TCS/final.csv',index = False)